<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Connection details for the SAP developer server (so I don't break anything)-->
    <!--<add key="SAP_APPSERVERHOST" value="XX.XXX.X.XX"/>
    <add key="NAME" value="QAS"/>
    <add key="SAP_USERNAME" value="RFCUSER"/>
    <add key="SAP_PASSWORD" value="XXXXXXX"/>
    <add key="SAP_CLIENT" value="460"/>
    <add key="SAP_LANGUAGE" value="EN"/>
    <add key="SAP_POOLSIZE" value="5"/>
    <add key="SAP_SYSTEMNUM" value="0"/>-->
    <!--Connection details for the SAP live server)-->
    <add key="SAP_APPSERVERHOST" value="XXXXXXXXX"/>
    <add key="NAME" value="PRO"/>
    <add key="SAP_USERNAME" value="RFCUSER"/>
    <add key="SAP_PASSWORD" value="xxxxxxxx"/>
    <add key="SAP_CLIENT" value="700"/>
    <add key="SAP_LANGUAGE" value="EN"/>
    <add key="SAP_POOLSIZE" value="5"/>
    <add key="SAP_SYSTEMNUM" value="0"/>
  </appSettings>
</configuration>